workDir = params.work_dir ?: "${baseDir}/work/"

params {
  root        = "${baseDir}"
  data_dir    = "${baseDir}/data"
  outputs_dir = "${baseDir}/outputs"
  work_dir    = "${baseDir}/work"

  threads     = 8

  // GEX
  do_solo         = false
  star_index      = null
  gex_merge_lanes = true

  // Guides
  do_guides    = false
  crispr_r1    = null
  crispr_r2    = null
  cb_whitelist = null
  feature_ref  = null
  max_cb_mm    = 2
  max_guide_mm = 2
  r1_cb        = "0,16"
  r1_umi_start = 16
  r1_umi_len   = 12
  r2_guide     = "31,51"

  // Integration + analysis
  do_integrate       = false
  min_guide_count    = 3
  max_multi_fraction = 0.1
  do_analysis        = false
}

process {
  executor = 'local'
  cpus = 1
  memory = '2 GB'
  time = '2h'
}
